<!-- <form action="/tasks" method="post">
  <label for="name">Name: </label>
  <input type="text" name="task[name]" id="name">

  <label for="details">Details: </label>
  <input type="text" name="task[details]" id="details">

  <input type="submit">
</form> -->

 <%= form_for(@task) do |f| %>
   <%= f.label :name, "Enter task" %>
   <%= f.text_field :name %>

   <%= f.label :details, "What is it about?" %>
   <%= f.text_field :details %>

   <%= f.submit %>

 <% end %>

<!-- #  render 'form' %> -->
